h1{
	background-color:#4eaaa4;
	color:#ffffff;
	padding:20px 30px;
	font-family:"Lora",serif;
	margin-bottom:0;
	margin-top:0;
}

#nav-list{
	margin-top:15px;
}

li{
	font-size:1.5em;
	text-align:center;
}

.content{
	background-image:url("images/greyfloral.png");
}

.col-sm-7,.col-sm-3{
	margin-left:8%;
	margin-top:40px;
	background-color:#ffffff;
}

img.my_photo{
	float:left;
	width:200px;
	height:200px;
	margin:20px;
	margin-top:10px;
}

h2{
	color:#4eaaa4;
	padding-left:20px;
	padding-top:10px;
	font-family:'Lora';
}

h3{
	color:#4eaaa4;
	font-family:'Lora';
	font-size:16px;
	text-align:center;
}


footer{
	text-align:center;
	padding:10px;
	background-color:#666666;
	border-top:solid #4aaaa5 4px;
	margin:0;

}

div.fix{
	clear:both;
}


img.symbol{
	width:15%;
	height:15%;
	margin:4%;
	margin-top:0;
	margin-bottom:10px;
	float:left;
}

div.symbol{
	margin-left:25%;
}

input{
	width:100%;
}

input.message{
	height:200px;
	margin-bottom:20px;
}

img.web_img{
	width:100%;
	margin-bottom:20px;
}

.col-sm-5{
	margin-left:5%;
}

section{
	position:relative;
}

span.portfolio{
	position:absolute;
	top:60%;
	left:0;
	background-color:#4aaaa5;
	width:100%;
	text-align:center;
	color:#ffffff;
	padding-top:3%;
	padding-bottom:3%;
}


